<nav class="navbar navbar-light fixed-top" style='background-color:#163020'>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <a class="navbar-brand text-white font-weight-bold" href="{% url 'home' %}">
                    <img src="https://www.iconpacks.net/icons/2/free-plant-icon-1573-thumb.png" width="30" height="30" class="d-inline-block align-top" alt="">
                    Aplikasi Rekomendasi Tanaman
                </a>
            </div>
        </div>
        <div>
            <a class="navbar-brand ml-auto text-white" style="font-size:17px" href="{% url 'rekomendasi' %}">Rekomendasi</a>
            <a class="navbar-brand ml-auto text-white" style="font-size:17px" href="{% url 'komoditas' %}">Komoditas</a>
            <a class="navbar-brand ml-auto text-white" style="font-size:17px" href="{% url 'tentang' %}">Tentang</a>
        </div>
    </div>
</nav>
